x-common-variables:
  MONGO_IMAGE: &mongo_image mongo:8

services:
  mongo1:
    container_name: mongo1
    hostname: mongo1
    image: *mongo_image
    restart: always
    volumes:
      - mongovol1:/data/db
      - ./db-fixtures:/opt/fixtures
      - ./local/scripts:/opt/scripts
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=adminpassword
    command: mongod --replSet mstream_db_replica_set --bind_ip_all --keyFile /opt/scripts/mongo-keyfile
    networks:
      - mongoCluster

  # kafka:
  #   container_name: kafka
  #   hostname: kafka
  #   image: bitnami/kafka:latest
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     - KAFKA_CFG_NODE_ID=0
  #     - KAFKA_CFG_PROCESS_ROLES=controller,broker
  #     - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
  #     - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
  #     - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
  #     - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
  #   networks:
  #     - mongoCluster

networks:
  mongoCluster:
    name: mongoCluster

volumes:
  mongovol1:
