gcp_service_account_key_path = "service_account_key_path.json"

[[connectors]]
name = "connector 1"
db_connection = "mongodb://localhost:27017,localhost:27018,localhost:27019"
db_name = "mydb"
db_collection = "mycollecttion"
schema = { provider = "gcp", id = "projects/{project_name}/schemas/{schema_name}" }
topic = "projects/{project_name}/topics/{topic_name}"

[[connectors]]
name = "connector 2"
db_connection = "mongodb://localhost:27017,localhost:27018,localhost:27019"
db_name = "mydb"
db_collection = "mycollecttion"
schema = { provider = "mongodb", id = "schema_id" }
topic = "projects/{project_name}/topics/{topic_name}"
