[system]
generate_encryption_key = false

[system.job_lifecycle]
service_name = "3tlm-local-exports"
resource = "job-lifecycle"
startup_state = "force_from_file"

[system.service_lifecycle]
service_name = "3tlm-local-exports"
resource = "service-lifecycle"

[[services]]
provider = "mongodb"
name = "3tlm-prod"
connection_string = "mongodb+srv://siamion-mstream-test:mAhH6pAxQfCUisbt@license-portal-cluster.cyiem.mongodb.net/"
db_name = "licensing-server"

[[services]]
provider = "mongodb"
name = "3tlm-local-exports"
connection_string = "mongodb://admin:adminpassword@mongo1:27017/?authSource=admin&replicaSet=mstream_db_replica_set"
db_name = "3tlm-cdc"

[[services]]
provider = "pubsub"
name = "gcp-pubsub"
project_id = "t-analytics-455613"
auth = { kind = "service_account", account_key_path = "/Users/siamion/workspace/mstream-lm-export/t-analytics-455613-36529a49e9db.json" }

# Connector 1: Contacts
[[connectors]]
enabled = true
name = "hubspot-contacts-sync"
source = { service_name = "3tlm-prod", resource = "hubSpotContact", output_encoding = "bson" }
# middlewares = [
#     { service_name = "rhai-scripts", resource = "hubspot_contact_transform.rhai", output_encoding = "json" }
# ]
sinks = [
    { service_name = "gcp-pubsub", resource = "lm-hubspot-contacts-test", output_encoding = "json" },
    { service_name = "3tlm-local-exports", resource = "hubspot-contacts", output_encoding = "bson" }
]

# Connector 2: Licenses
[[connectors]]
enabled = false
name = "hubspot-licenses-sync"
source = { service_name = "lm-mongodb", resource = "hubSpotLicense", output_encoding = "bson" }
# middlewares = [
#     { service_name = "rhai-scripts", resource = "hubspot_license_transform.rhai", output_encoding = "json" }
# ]
sinks = [
    { service_name = "gcp-pubsub", resource = "hubspot-licenses", output_encoding = "bson" }
]
